

body {
	margin: 0;
}

header {
	background-color: #FFB6B9;
	height: 80px;
	position: relative;
}

.logo {
	width: 960px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.imgg img {
	width: 40px;
	height: 40px;
	margin: 20px 0;
}

.contact {
	position: absolute;
	top: 0;
	right: 0;
}

.contact a {
	color: #fff;
}

.contact ul {
	display: flex;
	margin-top: 0;
}

.contact li {
	list-style-type: none;
	margin-left: 25px;
}

.banner {
	height: 200px;
	background-color: #FAE3D9;
	position: relative;
}

.show {
	width: 960px;
	height: 200px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.time img {
	width: 640px;
	height: 160px;
	margin: 10px 160px;
}

.number {
	position: absolute;
	bottom: 0;
	right: 0;
}

.number ul {
	display: flex;
	margin-bottom: 0;
	align-items: center;
  	justify-content: space-around;
}

.number li {
	list-style-type: none;
	color: #61C0BF;
	padding: 10px;
	height: 10px;
	border: 2px solid #FFB6B9;
	margin: 2px;
}

.info-box {
	width: 960px;
	height: 950px;
	margin: 0 auto;
	box-sizing: border-box;
}

.info-box ul {
	padding-left: 0;
	margin-top: 0;
	overflow: hidden;
	margin: 10px 0;
	border-bottom: 1px solid #9e9e9e;
}

.info-box li {
	float: left;
	list-style-type: none;
	width: 150px;
	border: 1px solid #9e9e9e;

}

.info-box li a {
	display: inline-block;
	text-decoration: none;
	width: 100%;
	line-height: 3;
	background-color: #edeff1;
	color: black;
	text-align: center;
}

.info-box li a:focus,
.info-box li a:hover {
	background-color: #fff;
	color: black;
}

.info-box li a.active {
	background-color: #fff;
	color: black;
}

.info-box .panels {
	height: 900px;
	position: relative;
	clear: both;
}

.info-box > article {
	position: absolute;
	top: 0;
	left: 0;
	height: 900px;
	padding: 10px;
}

.info-box .active-panel {
	z-index: 1;
}

.layout1 {
	width: 960px;
	height: 300px;
	position: relative;
	box-sizing: border-box;
	padding: 10px;
}

.left {
	position: absolute;
	top: 10px;
	left: 0;
	width: 180px;
	height: 290px;
	border: 1px solid #9e9e9e;
}

.right {
	position: absolute;
	top: 10px;
	right: 0;
	width: 220px;
	height: 290px;
	border: 1px solid #9e9e9e;
}

.main {
	margin: 0 230px 0 190px;
	height: 290px;
	border: 1px solid #9e9e9e;
}

.layout2 {
	display: flex;
	width: 960px;
	height: 300px;
	box-sizing: border-box;
}

.layout2 article {
	width: 230px;
	border: 1px solid #9e9e9e;
	margin: 10px 10px 10px 0;
}

.layout2 article:nth-of-type(4) {
	margin-right: 0;
}

.layout3 {
	display: flex;
	width: 960px;
	height: 300px;
	box-sizing: border-box;
}

.layout3 article {
	width: 320px;
	border: 1px solid #9e9e9e;
	margin: 10px 10px 10px 0;
}

.layout3 article:nth-of-type(3) {
	margin-right: 0;
}

footer {
	height: 120px;
	background-color: #61C0BF;
	text-align: center;
}

footer p {
	padding: 10px;
	font-weight: bold;
}