

body {
	margin: 0;
	min-width: 960px;
}

ul {
    padding: 0;
}
h1, p, ul {
    margin: 0;
}

header {
	background-color: #FFB6B9;
	height: 80px;
	position: relative;
}

.logo {
	width: 960px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.imgg img {
	width: 40px;
	height: 40px;
	margin: 20px 0;
}

.contact {
	position: absolute;
	top: 0;
	right: 0;
}

.contact a {
	color: #fff;
}

.contact ul {
	display: flex;
	margin-top: 0;
}

.contact li {
	list-style-type: none;
	margin-left: 25px;
}

.banner {
	height: 300px;
	background-color: #FAE3D9;
	position: relative;
}

.show {
	width: 960px;
	height: 240px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.time img {
	width: 640px;
	height: 240px;
	margin: 0 160px;
}

.numbers {
	position: absolute;
    left: 50%;
    bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 480px;
    margin: 0;
}

.number {
	display: inline-flex;
	align-items: flex-end;
	justify-content: center;
	width: 28px;
	height: 34px;
	margin-left: 5px;
	line-height: 34px;
	border: 1px solid #000;
	background-color: #fff;
	opacity: .5;
}

.number.active {
	height: 48px;
	opacity: .8;
}

.tabs {
    height: 70px;
    border-bottom: 1px solid #dddddd;
}

.main {
    position: relative;
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

.tabs-item.active {
    border-color: #ccc;
    border-bottom-color: #fff;
    background-color: #fff;
}
.tabs-item {
    float: left;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    padding: 0 30px;
    margin-top: 20px;
    border: 1px solid #ddd;
    background-color: #eeeeee;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
}

.content .main {
    padding-bottom: 20px;
}
.content-box {
    display: flex;
}
.content-item {
    flex: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 176px;
    padding: 80px;
    margin: 10px 10px 0 0;
    font-size: 14px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.content-box:first-child .content-item:not(:last-child) {
    flex: 1 25%;
}
footer {
	height: 120px;
	background-color: #61C0BF;
	text-align: center;
}

footer p {
	padding: 10px;
	font-weight: bold;
}
