body {
  font-family: PingFang TC,sans-serif;
}

.container{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

h1 {
  text-shadow: 1px 1px 1px #000000;
}

header, footer {
  text-align: center
}

h3 {
  border-bottom: 1px solid #29B6F6;
  text-indent: 20px;
}

aside {
  background-color: #29B6F6;
  padding: 10px;
  color: #fff;  
  box-shadow: 2px 2px 2px #29B6F6;
}

ul {
  list-style-type: none;
}

li {
  line-height: 25px;
}

p a, li a {
  text-decoration: none;
  color: #f25d8e;
}

aside a {
  color: #fff;
}

